/* Adicione suas regras CSS personalizadas aqui, se necessário */
body {
  background-color: #f4f4f4;
  background-image: url('C:/Users/RECHAO/Fintech/imagens/background.jpg');
  background-size: cover;
  background-position: center;
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}